<li id = "<%= article.id %>">
<%= link_to gravatar_for(article.user, size:50), article.user %>
<span class = "user"><%= link_to article.user.name, article.user %></span>
<span class = "title"><%= link_to article.title %></span>
<span class = "content"><%= link_to article.content %></span>
<span class = "timestamps">Posted <%= time_ago_in_words(article.created_at) %>>ago.
    <% if current_user?(article.user) %>
        <%= link_to "delete", article, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
</span>
</li>
