<%= form_for(@articles) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class = "field">
        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.text_area :content, placeholder: "compose new articles..." %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>

